:root {
  --c-brand: #453A30;
  --very-light-brown: #D5CCC3;
  --even-lighter-brown: #f1ece7;
}

.btn-brown {
  background-color: #453A30;
  color: white;
  border-color: #453A30;
}
  
.btn-brown:hover {
  background-color: var(--very-light-brown);
  color: var(--c-brand);
  border-color: var(--c-brand);
}
  
.btn a {
  color: inherit;
  text-decoration: none;
}
  
.card-style {
  background-color: white;
  color: blueviolet;
  border-color: darkviolet;
}
  
.card-style:hover {
  background-color: blueviolet;
  color: white;
  border-color: blueviolet;
}

.hereLink {
  text-decoration: none;
  margin-right: 0.05rem;
  margin-left: 0.25rem
}