@import url('globalStyling.css');

body {
    background-image: url('../../../landingPage/assets/images/hero-2.jpg')
}

input {
    background-color: var(--even-lighter-brown) !important;
}

.card {
    background-color: var(--very-light-brown);
}

.spendWiseLink {
    background-color: var(--c-brand);
    color: var(--very-light-brown);
}

.signInUpText {
    color: var(--very-light-brown);
}